@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@400;700&family=Raleway:wght@400;700&display=swap');

@import "tailwindcss";

body {
  font-family: 'Lato', sans-serif;
  background-color: #f0f4f8;
  color: #333;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

@theme {
  --color-primary: #091540;
  --color-secondary: #7692FF;
  --color-light: #FFF4F4;
  --color-dark: #4A4A4A;
  --color-danger: #FF788D;
  --color-success: #2A835F;
  --color-info: #2BBBD7;
}